# Azure Speech Services
AZURE_SPEECH_KEY=your_key_here
AZURE_SPEECH_REGION=westeurope

# Groq API
GROQ_API_KEY=your_key_here

# AWS / LocalStack
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
LOCALSTACK_ENDPOINT=http://localhost:4566
S3_BUCKET_NAME=sales-score-dev
DYNAMODB_TABLE_NAME=SalesScores
